.container{
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    padding: 8px;
    justify-content: space-evenly;
   
}
.home-row{
display: flex;
flex: 33%;
flex-wrap: wrap;
}
/* .container img{
    height: 200px;
    object-fit: contain;
    padding: 8px;
   
    border: none;
} */
.card{
    margin: 7px;
    border: 1px solid rosybrown;
    padding: 5px;
    flex: 30%;
    border-radius: 20px;
    width: 33%;
    
}
   
.card img{
    height: 180px;
    width: 240px;
    object-fit: contain;
}

button{
    background-color: #fcba03;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
}
